<div id="club">
  <div class="row">
    <div class="club_item col-sm-6 col-lg-4" ng-repeat="s in club">
      <a
        href="#!clubdetail"
        ng-click="clickClub(s)"
        class="club_item-link link__select"
      >
        <div class="club_item-cover mt-4">
          <div
            class="club_item-image"
            style="background-image: url(./static_file/{{s.image}})"
          ></div>

          <div class="club_item-content">
            <p class="club_item-name">{{s.name}}</p>
            <p class="club_item-address">{{s.address}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
