<div id="country">
  <div class="thankyouPage">
    <div class="thankyouPage_cover">
      <div class="thankyouPage_cover-content">
        <div class="thankyouPage_cover-content-image"></div>
        <p class="thankyouPage_cover-content-info">
          Thank you for choosing us! Our employee will contact with you as soon
          as possible
        </p>
      </div>
    </div>
  </div>
  <div class="country_form">
    <div class="tour_select mt-3 mb-3">
      <div class="tour_select-info">
        <p class="tour_sselect-info-name">
          {{galary[position].tour[placetourPosition].name}}
        </p>
        <div
          class="tour_item-logo"
          style="background-image:url(./static_file/{{galary[position].tour[placetourPosition].logo}})"
        ></div>
      </div>

      <div class="tour_select-description">
        <p class="tour_item-description-title">description</p>
        <p class="tour_item-description-content">
          {{galary[position].tour[placetourPosition].description}}
        </p>
      </div>
    </div>

    <form class="tour_select-form">
      <table class="tour_select-table">
        <tr>
          <td>Name:</td>
          <td>
            <input
              type="text"
              class="country_input"
              placeholder="Enter Your Name..."
            />
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input
              type="text"
              class="country_input"
              placeholder="Enter Your Email..."
            />
          </td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>
            <input
              type="number"
              min="0"
              class="country_input"
              placeholder="Enter Phone Number..."
            />
          </td>
        </tr>

        <tr>
          <td>Country:</td>
          <td>
            <select name="country" class="country_input">
              <option ng-repeat="s in country" value="{{s.name}}">
                {{s.name}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td>
            <textarea
              name="subject"
              class="country_input textareaInput"
              placeholder="Write Somethings ..."
            ></textarea>
          </td>
        </tr>
        <tr>
          <td class="country_submit">
            <button ng-click="submit()" class="btn btn-primary">Send</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
