
<div
  class="about_slides"
  ng-controller="aboutController"
  style="background-image: url(./static_file/{{about[aboutPosition].image}})"
>
  <i
    class="fa-solid fa-chevron-left about_icon"
    ng-click="aboutBack(aboutPosition)"
  ></i>
  <div id="about_title" class="title_left">
    <h2>The Destination</h2>
    <em>{{about[aboutPosition].sub}}</em>

    <div class="about_title_Info">
      <h3>{{about[aboutPosition].title}}</h3>
    </div>
  </div>
  <i
    class="fa-solid fa-chevron-right about_icon"
    ng-click="aboutNext(aboutPosition)"
  ></i>
</div>
