<div id="country" ng-controller="palcetourController">
  <a href="#!galary" class="btn btn-warning galary_slide-back"
    >Back to gallery
  </a>
  <div class="thankyouPage">
    <div class="thankyouPage_cover">
      <div class="thankyouPage_cover-content">
        <div class="thankyouPage_cover-content-image"></div>
        <p class="thankyouPage_cover-content-info">
          Thank you for choosing us! Our employee will contact with you as soon
          as possible
        </p>
      </div>
    </div>
  </div>
  <div class="country_form">
    <div class="tour_select mt-3 mb-3">
      <div class="tour_select-info">
        <p class="tour_sselect-info-name">{{tourSelect.name}}</p>
        <div
          class="tour_item-logo"
          style="background-image:url(./static_file/{{tourSelect.logo}})"
        ></div>
      </div>

      <div class="tour_select-description">
        <p></p>
        <p class="tour_item-description-title">description</p>
        <p class="tour_item-description-content">{{tourSelect.description}}</p>
      </div>
    </div>

    <form ng-submit="formSubmit($event)" name="myform" class="tour_select-form">
      <table class="tour_select-table">
        <tr>
          <td>Name:</td>
          <td>
            <input type="text"  
            ng-model="myname"  
            class="country_input" 
            name="name" 
            placeholder="Enter your name"
            required pattern="[\w' ']{2,10}"> 
            
          </td>
          <td>
            <p class="notify__form" ng-show="myform.name.$error.required && myform.name.$dirty"  style="color: red;">Name must not be left blank</p>
            <p class="notify__form" ng-show="myform.name.$error.pattern && myform.name.$dirty"  style="color: red;"> Name from 2 to 10  character </p> 
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="text"  
            ng-model="myemail"  
            class="country_input" 
            name="email" 
            placeholder="example@xxx.com"
            required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"> 
          </td>
          <td>
            <p class="notify__form" ng-show="myform.email.$error.required && myform.email.$dirty"  style="color: red;">Email must not be left blank</p>
            <p class="notify__form" ng-show="myform.email.$error.pattern && myform.email.$dirty"  style="color: red;"> Email follow form exam@xxx.xxx</p> 
          </td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>
            <input type="text"  
            ng-model="myphone"  
            class="country_input" 
            name="phone" 
            placeholder="+xxx xxx xxxx"
            required pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$"> 
          </td>
          <td>
            <p class="notify__form" ng-show="myform.phone.$error.required && myform.phone.$dirty"  style="color: red;"> Phone not be left blank</p>
            <p class="notify__form" ng-show="myform.phone.$error.pattern && myform.phone.$dirty"  style="color: red;"> Phone follow +xxx xxx xxxx</p> 
          </td>
        </tr>

        <tr>
          <td>Country:</td>
          <td>
            <select name="country" class="country_input" required>
              <option ng-repeat="s in country" value="{{s.name}}">
                {{s.name}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Subject:</td>
          <td>
            <textarea
              name="subject"
              class="country_input textareaInput"
              placeholder="Write Somethings ..."
            ></textarea>
          </td>
        </tr>
        <tr>
          <td class="country_submit">
            <input type="submit" value="submit" class="btn btn-warning" />
          </td>
        </tr>
      </table>
      </span>
    </form>
  </div>
</div>
